body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;

}

h1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin-bottom: 20px;
}

table tr {
    border: 2px solid black;
    border-radius: 2px;
}

table td {
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

.dark-mode .container {
    background-color: #333;
}

.dark-mode h1 {
    border-color: #333;
}

.dark-mode table tr td {
    border-color: #555;
}

.dark-mode button {
    background-color: #555;
    color: #fff;
}